@import "tailwindcss";

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-around {
    @apply flex items-center justify-around;
  }
  .grid-gap {
    @apply grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-10;
  }
}
