@import "tailwindcss";

/* Theme */
@theme {
  /* Breakpoints */
  --breakpoint-xs: 344px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  /* Colors */
  --color-body: #f1f5f9;
  --color-primary: var(--color-blue-600);
  --color-secondary: var(--color-blue-500);
  --color-gray-light: #f9f9f9;
  --color-gray-normal: #eeeeee;
  --color-gray-dark: #757575;
  /* Fonts */
  --font-jetbrains: "JetBrains Mono", monospace;
}

/* General Classes */
@layer components {
  .container {
    @apply px-1 md:px-4 mx-auto;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-around {
    @apply flex items-center justify-around;
  }
  .grid-gap {
    @apply grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-10;
  }
}

/* Global Styles */
body {
  background-color: var(--color-body);
}
