@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 344px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* Colors */
  --color-body: #f1f5f9;
  --color-primary: var(--color-blue-600);
  --color-secondary: var(--color-blue-500);
  --color-gray-light: #f9f9f9;
  --color-gray-normal: #eeeeee;
  --color-gray-dark: #757575;

  /* Fonts */
  --font-jetbrains: "JetBrains Mono", monospace;

  /* Shadows */
  --shadow-normal:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --shadow-scale:
    rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.custom-container {
  @apply mx-auto px-4 w-full sm:max-w-135 md:max-w-180 lg:max-w-240 xl:max-w-285 xxl:max-w-330;
}

html {
  @apply scroll-smooth;
}

body {
  background-color: var(--color-body);
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-blue-300);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-blue-600);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue-700);
}
